# Логи
arizona_launcher.log
*.log

# Python кэш
__pycache__/
*.py[cod]
*$py.class
*.so

# Неиспользуемые файлы и бэкапы
NotUsed/

# IDE
.vscode/
.cursor/
.idea/

# Временные файлы
*.tmp
*.bak
~*

# Системные файлы
.DS_Store
Thumbs.db
desktop.ini

# Локальные билды и скачанные архивы лаунчеров
/dist
/others
/output
updater.py
others/arizonapatcher.zip
others/arizonapatchesV2.zip
others/ArizonaLauncher8.0_byAIR.zip
others/ArizonaLauncher8.0_byAIR.exe
/.claude
/.vscode
/.vscode
/.vscode
.vscode/settings.json
ArizonaLauncher.manifest
ArizonaLauncher.spec
/build
icon.ico
index.html.backup.20260616_195140
installer.iss
/installer
main.py.backup.20260616_195140
/moonloader
opencode.jsonc
moonloader/TEST.lua
sandbox-test.wsb
libraries.txt
